<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/welcome.css">
  <title>Welcome to Notes Sharing Platform</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Welcome to Notes Sharing Platform</h1>
      <p>Share and discover notes effortlessly!</p>
      <div class="auth-buttons">
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/signup'">Signup</button>
      </div>
    </header>
    <main>
      <section class="info">
       
        <h3>Why Choose Us?</h3>
        <p>
            Connect with a community of learners by sharing notes, presentations, and study materials. Access a wide range of resources to support your learning journey and grow together through the power of shared knowledge.
          </p>
      </section>
    </main>
    <footer>
      <p> "Knowledge grows by sharing, not saving."</p>
    </footer>
  </div>
</body>
</html>
