body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:#F8F9FA;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.detail {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    background-color:#2DBE60;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4CAF50
}

footer {
    margin-top: 20px;
}

footer a {
    color: #2DBE60;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color : #2DBE60;
}
